body, html {
  height: 100%;
  margin: 0;
}
  #background{
    
    background-image: url(image/c6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    margin: 10px 0;


  }
  .nav{
    width:300px;
    height: auto;
    
    position: absolute;
    top: 18%;
    left: 0;
   

}
.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    
    display: inline-block;
    height: 80px;
    margin: 5px 0;
   
    background-color: rgb(15, 4, 4);
    color: white;
    line-height: 80px;
    text-align: center;
    transition: 300ms;
}
a.active,
.nav a:hover{
    background-color: white;
    color: black;
    width: 100%;

}
.a{
    width: 90%;
}
.b{
    width: 85%;
}
.c{
    width: 80%;
}
.d{
    width: 95%;
}
.Upload{
    background:black;
    text-align: center;
    width: 680px;
    min-height: 300px;
    height: auto;
    position: absolute;
    top: 10%;
    float: left;
    left: 430px;
    opacity: 0.7;
    right: 320px;
    color:white;
    display: none;


 }
 .gallery{
   background:black;
    text-align: center;
    width: 980px;
    min-height: 600px;
    height: auto;
    position: absolute;
    top: 10%;
    float: left;
    left: 330px;
    opacity: 0.9;
    right: 320px;
    color:white;
    display: none;

 }
 .contact{
    
    position: absolute;
    right: 0;
    top: 45px;
    color: white;
    padding: 0 60px;
    display: none;

}
.inputtext{
    width: 55%;
    height: 65px;
    border: 3px solid black;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    float: left;
    margin-bottom: 15px;
}
.inputmessage{
    width: 55%;
    height: 135px;
    border: 3px solid black;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    float: left;
}
.submitbutton{
    width: 160px;
    height: 65px;
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    clear: left;
    margin-top: 25px;
}
